  .red {
    color: red;
  }
  
  .green {
    color: green;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .regular {
    font-weight: normal;
  }
  
  .Cockpit button {
    background-color: green;
    border: 1px solid blue;
    padding: 10px;
    font: inherit;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .Cockpit button:hover {
      background-color: lightgreen;
      color: black;
    }
  
  .Cockpit button.Red {
    background-color: red;
  }
  
  .button.Red:hover {
    background-color: salmon;
  }